<div class="my-auto" class="done-row">
  <div class="mx-auto" class="done-col">
    <h2 class="thankyou">お問い合わせありがとうございました。</h2>
    <h2 class="thankyou-responsive">お問い合わせ<br>ありがとうございました。</h2>
  </div>
  <div class="done-back">
    <div><%= link_to 'トップに戻る', admin_path, class:"btn btn-outline-dark" %></div>
  </div>
</div>
