<table class="table mt-5">
  <thead class="thead-info">
    <th colspan="2">管理者</th>
    <th></th>
  </thead>
  <tbody>
    <% record.admin_comments.each do |admin_comment| %>
    <tr>
      <td colspan="2"><%= admin_comment.comment %></td>
      <td class="text-center"><%= link_to "削除", admin_record_admin_comment_path(admin_comment.record, admin_comment), method: :delete, remote: true, class:"btn btn-outline-danger" %></td>
    <% end %>
  </tbody>
</table>