<div>
<% record.public_comments.each do |public_comment| %>
  <%= public_comment.record.worker.name %>さんからのコメント
  <%= public_comment.comment %>
  <%= public_comment.created_at.strftime('%Y/%m/%d') %>
  <%= link_to "削除", public_record_public_comment_path(public_comment.record, public_comment), method: :delete %>
<% end %>
</div>