<table class="table mt-5">
  <thead class="thead-info">
    <th colspan="2"><%= record.worker.name %>さんからのコメント</th>
    <th></th>
  </thead>
  <tbody>
    <% record.public_comments.each do |public_comment| %>
    <tr>
      <td colspan="2"><%= public_comment.comment %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate public_comments %></div>