<div class="container">
  <div class"row">
    <div class="col-lg-8 mx-auto">
      <h2 class="mt-4">-作成日-検索結果</h3>
      <%= render 'index', records: @records %>
      <%= link_to '戻る', admin_records_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>